<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>EasyComplement2</string>
	<key>uuid</key>
	<string>5F422EBC-B5AA-4336-AD24-E4BBD0C5B7D7</string>
</dict>
</plist>
